@import url(https://fonts.bunny.net/css?family=alata:400|montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

.visit-card {
  padding: 2em 	1em;
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__picContainer {
      width: 5em;
      height: 5em;
      margin: 0.8em;
      @media screen and (min-width: 768px) {
        width: 7em;
        height: 7em;
        margin:1em
      }
      @media screen and (min-width: 1024px) {
        width: 10em;
        height: 10em;
        margin:1.5em
      }
      &__img {
        width: 100%;
        height: 100%;
        border-radius: 11%;
      }
    }
    &__name {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 16px;
      color: #4e5150;
      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
      @media screen and (min-width: 1024px) {
        font-size: 30px;
      }
    }
    &__location {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 12px;
      color: #a9a9a9;
      margin: 1em 0 1.5em 0;
      @media screen and (min-width: 768px) {
        font-size: 15px;
      }
      @media screen and (min-width: 1024px) {
        font-size:18px;
      }
    }
  }
  &__body {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    &__infos {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap:  0.7em; ;
      @media screen and (min-width: 768px) {
        gap: 1em;
      }
      @media screen and (min-width: 1024px) {
        gap: 1.5em;
      }
      &__rapid {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 78px;
        height: 52px;
        left: 64px;
        top: 189px;
        background: #e5e5e5;
        border-radius: 12px;
        padding: 10px 15px;
        gap: 0.1em;
        @media screen and (min-width: 768px) {
          width: 100px;
          height: 70px;
        }
        @media screen and (min-width: 1024px) {
          width: 120px;
          height: 80px;
        }
        &__title {
          font-weight: 600;
          font-size: 12px;
          color: #BDBDBD;
          @media screen and (min-width: 768px) {
            font-size: 14px;
          }
          @media screen and (min-width: 1024px) {
            font-size: 16px;
          }
        }
        &__amount {
          font-weight: 600;
          font-size: 12px;
          color: #4e5150;
          @media screen and (min-width: 768px) {
            font-size: 14px;
          }
          @media screen and (min-width: 1024px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
